li {
    list-style: none;
}

.box {
    width: 220px;
    height: 400px;
    background: url("../images/test.jpg") no-repeat;
    background-size: cover;
}

.box2 {
    width: 220px;
    height: 400px;
    background: url("../images2/test.jpg") no-repeat;
    background-size: cover;
}

